@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.MainContainer{
  max-width: 650px;
  margin: 20px auto;
  padding: 24px;
}

.mainCard{
  border-radius: 12px;
  border: 1px solid #e1e1e1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 12px;
}


.customShadow{
 border: 1px solid #e1e1e1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
